<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="PHP_CodeSniffer">
  <rule ref="PSR12"/>
  <rule ref="Generic.PHP.RequireStrictTypes"/>
  <rule ref="Squiz.Strings.DoubleQuoteUsage.NotRequired"/>
  <rule ref="PHPCompatibility"/>
  <config name="testVersion" value="8.3"/>
  <file>./src/</file>
  <file>./tests/</file>
</ruleset>
