---
name: Lint
on:
  - pull_request
  - push

permissions:
  contents: read
  pull-requests: write

jobs:
  actionlint:
    name: GitHub Actions
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Run actionlint
        uses: reviewdog/action-actionlint@v1
  markdownlint:
    name: Markdown
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Run markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          globs: |
            **/*.md
            !README.md
  yamllint:
    name: YAML
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Run yamllint
        uses: frenck/action-yamllint@v1.5.0
        with:
          strict: true
  shellcheck:
    name: Shell scripts
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Run shellcheck
        uses: ludeeus/action-shellcheck@2.0.0
        env:
          SHELLCHECK_OPTS: -o all
  checkmake:
    name: Makefile
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Run checkmake
        uses: Uno-Takashi/checkmake-action@main
